<!DOCTYPE html>
<html ng-app="SmartMirror">
  <head>
    <meta charset="utf-8">
    <title>Smart Mirror</title>

    <script src="js/annyang.js"></script>

    <!-- bower - managing javascript libraries -->
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- end bower -->

    <!-- .js javascript files for the app -->
    <script src="config.js"></script>
    <script src="js/rrule.js"></script>
    <script src="js/app.js"></script>
    <script src="js/weather-service.js"></script>
    <script src="js/map-service.js"></script>
    <script src="js/geolocation-service.js"></script>
    <script src="js/calendar-service.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/annyang-service.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" ng-href="css/main.css" />
	  <link rel="stylesheet" href="css/weather-icons.css">

    <!-- Open Sans font (I'm using it for smaller text) -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,700' rel='stylesheet' type='text/css'>

  </head>

  <body ng-controller="MirrorCtrl as commands" ng-cloak>
    <div class="top">

      <div class="top-left">
        <div class="date grey">{{date.format('dddd')}}, {{date.format('LL')}}</div>
        <div class="time">{{date.format('LT')}}</div>
        <ul class="calendar fade" ng-show="focus == 'default'">
            <li class="event" ng-repeat="event in calendar">
                <div class="event-details">
                    <span class="day grey">{{event.start.format('dddd')}}</span>
                    <span class="summary">{{event.SUMMARY}}</span>
                    <div class="details">{{event.start.format('LLL')}}</div>
                </div>
                <br>
            </li>
        </ul>
      </div>

      <div class="top-right">
        <div class="weather">
          <div class="weather-today">
            <br>
            <span class="icon dimmed wi {{currentForcast.wi}}"></span>
            <br>
            <span class="temperature">{{currentForcast.temperature}}&deg;</span>
          </div>

          <br>

          <div class="weather-week" ng-repeat="forcast in weeklyForcast.data" ng-if="$index > 0">
            <div class="weather-week-day">
              <span class="day grey"><br>{{forcast.day}}</span>
              <span class="icon-small dimmed wi wi-fw {{forcast.wi}}"></span>
              <span class="temperature temperature-min">{{forcast.temperatureMin}}&deg;<br></span>
              <span class="temperature temperature-max">{{forcast.temperatureMax}}&deg;</span>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="container">
      <div class="middle-center">
        <div class="contents-box map animate-grow" ng-show="focus == 'map'">
          <img class="contents map animate-grow" ng-src="{{map}}"/>
        </div>

      </div>
      <div class="bottom-center">
        <!-- list of voice commands -->
        <div class="commands animate-grow" ng-show="focus == 'commands'">
          <h2>Voice Commands:</h2>
          <br>
          <dl>
            <dt>what can I say?</dt>
            <dd>lists the available voice commands</dd>
            <br>
            <dt>go home</dt>
            <dd>returns to the home screen</dd>
            <br>
            <dt>show map</dt>
            <dd>displays a map of Greencastle</dd>
            <br>
            <dt>show map of _______</dt>
            <dd>displays a map of the requested city</dd>
            <br>
            <dt>zoom in</dt>
            <dd>zooms the map in</dd>
            <br>
            <dt>zoom out</dt>
            <dd>zooms the map out</dd>
          </dl>
          <br>
        </div>
        <!-- show speech as it's being spoken -->
        <!-- interim-result is "Ask "What can I say?" to learn more" by default. -->
        <div class="interim-result" ng-bind="interimResult" ng-hide="speechError"></div>
      </div>

  </body>

</html>
